{% extends "register/base.html" %}
{% load static %}
{% block content %}
    <div class="top_title cd-scrolling-bgcd-bg-1">
        <div class="cd-container">
            <img src="{% static 'register/img/Rail.jpg' %}" />
            <div class="text01">
                Traje
            </div>
        </div>
    </div>
    <div class="cd-scrolling-bg cd-bg-2">
        <div class="cd-container">
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
            <p>　　　　　　</p>
        </div>
    </div>
    <div class="top_title cd-scrolling-bg cd-bg-3">
        <img src="{% static 'register/img/Rail.jpg' %}" />
        <div class="text01">
            Traje
        </div>
    </div>
{% endblock %}
